<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-dark.min.css">
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
<div th:insert="index :: header"></div>
<table>
    <caption>Authors</caption>
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author: ${authors}">
        <td th:text="${author.firstName} + ' ' + ${author.lastName}"></td>
    </tr>
    </tbody>
</table>
<div th:insert="index :: footer"></div>
</body>
</html>
