<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Bookshelf</title>
</head>
<body>
<h1>Bookshelf Services</h1>
<ul>
    <li><a th:href="@{/authors}">Authors</a></li>
    <li><a th:href="@{/books}">Books</a></li>
</ul>
<div sec:authorize="isAnonymous()">
    <a th:href="@{/sso/login}">Login</a>
</div>
<div sec:authorize="isAuthenticated()">
    <span th:text="${#authentication.name}"></span>
    <a th:href="@{/logout}">(logout)</a>
</div>
</body>
</html>
